{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About | Skully Merch</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
  </head>
  <body>
    <div id="about">
      <header>
        <div class="logo">
          <img
            id="logo1"
            src="{% static '/images/logo.png'%}"
            alt="Website Logo"
            height="150"
            width="150"
          />
        </div>
        <nav style="margin-left: 400px">
          <ul>
            <li>
              <b><a href="/home">Home</a></b>
            </li>
            <li>
              <b><a href="/about">About</a></b>
            </li>
            <li>
              <b><a href="/contact">Contact Us</a></b>
            </li>
            <li>
              <b><a href="/gallery">Browse Awesome Designs!</a></b>
            </li>
            <li>
              <b><a href="/cart">Cart</a></b>
            </li>
          </ul>
        </nav>
        <nav>
          <div style="margin-top: 30px; margin-left: 300px">
            <button id="sign" type="button">
              <a
                href="/signout"
                style="display: block; height: 100%; width: 100%"
                >Sign out</a
              >
            </button>
          </div>
        </nav>
      </header>
    </div>
    <main>
      <section class="about">
        <h1><u>About Us</u></h1>
        <br />
        <p style="color: lightcoral">
          Print on Demand is a leading provider of custom printing services for
          individuals, businesses, and organizations. Our mission is to make
          high-quality, personalized products accessible to everyone, no matter
          their order size or design expertise.
        </p>
        <br />
      </section>
      <h2><u>Our Services</u></h2>
      <br />
      <section class="services">
        <div class="service">
          <h3><u>T-shirts</u></h3>
          <p id="description">
            Choose from a wide selection of styles and colors to create the
            perfect custom T-shirt for your needs. No minimum order required.
          </p>
        </div>
        <div class="service">
          <h3><u>Posters</u></h3>
          <p id="description">
            Turn your favorite images into stunning wall art. We offer
            high-quality poster printing in various sizes and finishes.
          </p>
        </div>
        <div class="service">
          <h3><u>Mugs</u></h3>
          <p id="description">
            Customize your own mugs for personal use or as a unique gift. We
            provide various mug styles and printing options to suit your taste.
          </p>
        </div>
      </section>
    </main>
    <footer id="footer1" style="margin-top: 30px">
      <p>&copy; 2023 Skully Merch. All Rights Reserved.</p>
    </footer>
  </body>
</html>
